<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="DBeaver CI Target" sequenceNumber="1">
    <locations>
        <location includeAllPlatforms="false"
                  includeConfigurePhase="false"
                  includeSource="false"
                  type="InstallableUnit">
            <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
            <repository location="https://download.eclipse.org/releases/2026-06"/>
        </location>
        <location includeAllPlatforms="false"
                  includeConfigurePhase="false"
                  includeSource="false"
                  type="InstallableUnit">
            <unit id="org.jkiss.dbeaver.ide.feature.feature.group" version="0.0.0"/>
            <repository location="https://dbeaver.io/update/latest/"/>
        </location>
    </locations>
</target>
